<p>formulaire works!</p>
<form (ngSubmit)="submitForm()" [formGroup]="profileForm">
    <label>Nom</label> <input type="text" formControlName="nom" name="nom" required><br/>
    <label>Prenom</label> <input type="text" formControlName="prenom"  required> <br/>
    <label for="">Adresse</label> <input type="text" formControlName="adresse" required> <br/>
    <label>Code Postal</label> <input type="text" formControlName="cp"  required> <br/>
    <label for="">Ville</label> <input type="text" formControlName="ville"  required> <br/>
    <label for="">Pays</label> <input type="text" formControlName="pays"  required appErrors> <br>
    <label for="">Telephone</label> <input type="tel" formControlName="tel"  pattern="[0-9]{10}" *ngIf="this.profileForm.get('tel')?.status == 'INVALID' && appErrors"> <br/>
    <label for="">Mél</label> <input type="email" email formControlName="mel"  > <br/>
    <label for="">Civilité</label> <input type="text" formControlName="civilite"  > <br/>
    <label for="">Nom utilisateur</label> <input type="text" formControlName="username"  > <br>
    <label>Mot de passe</label> <input type="password" formControlName="password"> <br>
    <button type="submit" >Submit</button>
</form>
<app-recapitulation 
    *ngIf="isValid == true" 
    [nom]="this.profileForm.get('nom')?.value"  
    [prenom]="this.profileForm.get('prenom')?.value"
    [adresse]="this.profileForm.get('adresse')?.value"
    [cp]="this.profileForm.get('cp')?.value"
    [ville]="this.profileForm.get('ville')?.value"
    [pays]="this.profileForm.get('pays')?.value"
    [mel]="this.profileForm.get('mel')?.value"
    [tel]="this.profileForm.get('tel')?.value"
    [civilite]="this.profileForm.get('civilite')?.value"
    [username]="this.profileForm.get('username')?.value"
    [password]="this.profileForm.get('password')?.value"  
></app-recapitulation>
